@import "compass/css3";

$lato: 'Lato', sans-serif;
$raleway: 'Raleway', sans-serif;

@mixin placeholder($color) {
  &:-moz-placeholder { color: $color;}
  &::-webkit-input-placeholder { color: $color;}
}

body, html {
  background: #41598F;
}

div.container {
  max-width: 960px;
  position: relative;
  margin: 0 auto;
}


section {
  h1 {
    padding: 100px 0 40px;
    font-size: 70px;
    text-align: left;
    font-weight: 100;
    color: #fff;
    font-family: $lato;
    text-shadow: #2B2B2B 1px 1px 0;

    span {
      color: #e04a4a;
      font-weight: 300;
      @include text-shadow(rgb(146, 54, 54) 1px 1px 0);
    }
  }


  h3 {
    color: #fff;
    font-family: $lato;
    font-weight: 100;
    text-align: left;
    font-size: 25px;
    color: #97A1C2;
    margin-bottom: 12px;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
